# Data reshape

In [50]:
import pandas as pd
import numpy as np

# 1. melt

In [51]:
pew = pd.read_csv('pew.csv')
pew = pew.iloc[:,:5]

billboard=pd.read_csv('billboard.csv')
billboard.head()

print(pew.head())
print('*' * 100)
print(billboard.iloc[:,:10].head())

             religion  <$10k  $10-20k  $20-30k  $30-40k
0            Agnostic     27       34       60       81
1             Atheist     12       27       37       52
2            Buddhist     27       21       30       34
3            Catholic    418      617      732      670
4  Don’t know/refused     15       14       15       11
****************************************************************************************************
   year        artist                    track  time date.entered  wk1   wk2   wk3   wk4   wk5
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0  72.0  77.0  87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0  92.0   NaN   NaN
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0  68.0  67.0  66.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0  72.0  69.0  67.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0  25.0  17.0  17.0

In [55]:
pd.set_option('display.expand_frame_repr', False)

print(pd.melt(pew, id_vars='religion').head())
print('*'*100)
print(pd.melt(pew, id_vars='religion', var_name='income', value_name='count').head())
print('*'*100)
print(pd.melt(billboard, id_vars=['year','artist']).head())
print('*' * 100)
print(pd.melt(billboard, id_vars=['year','artist','track','time','date.entered']).head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15
****************************************************************************************************
             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15
****************************************************************************************************
   year        artist variable                    value
0  2000         2 Pac    track  Baby Don't Cry (Keep...
1  2000       2Ge+her    track  The Hardest Part Of ...
2  2000  3 Doors Down    track               Kryptonite
3  2000  3 Doors Down    track                    Loser
4  2000      504 Boyz    track            Wobble Wobble
****************************************************************************************************
   year        artist                    track  time date.entered variable  value
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26      wk1   87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02      wk1   91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08      wk1   81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21      wk1   76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15      wk1   57.0

# 2. pivot_table

In [53]:
df = pd.DataFrame({'id': ['c1', 'c1', 'c1', 'c2', 'c2', 'c2', 'c3', 'c3', 'c3', 'c1', 'c2', 'c3'],
                   'code': ['p1', 'p2', 'p3', 'p1', 'p2', 'p3', 'p1', 'p2', 'p3', 'p1', 'p2', 'p3'],
                   'grade' : ['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'A', 'B', 'A'],
                   'amt': [30, 10, 0, 40, 15, 30, 0, 0, 10, 10, 20, 30]})

In [54]:
print(pd.pivot_table(df, index='id', columns='grade', values='amt', aggfunc=np.sum))
print("*" * 100)
print(pd.pivot_table(df, index='id', columns='grade', values='amt', aggfunc=np.mean))
print("*" * 100)
print(pd.pivot_table(df, index=['id','code'], columns='grade', values='amt', aggfunc=np.sum).reset_index())
print("*" * 100)
print(pd.pivot_table(df, index='id', columns=['grade','code'], values='amt', aggfunc=np.sum))
print("*" * 100)
print(pd.pivot_table(df, index='id', columns='grade', values='amt', aggfunc=np.sum, margins=True))
print("*" * 100)
print(pd.pivot_table(df, index='id', columns='grade', values='amt', aggfunc='count'))

grade     A     B
id
c1     50.0   NaN
c2     85.0  20.0
c3     30.0  10.0
****************************************************************************************************
grade          A          B
id
c1     12.500000        NaN
c2     28.333333  20.000000
c3     30.000000   3.333333
****************************************************************************************************
grade  id code     A     B
0      c1   p1  40.0   NaN
1      c1   p2  10.0   NaN
2      c1   p3   0.0   NaN
3      c2   p1  40.0   NaN
4      c2   p2  15.0  20.0
5      c2   p3  30.0   NaN
6      c3   p1   NaN   0.0
7      c3   p2   NaN   0.0
8      c3   p3  30.0  10.0
****************************************************************************************************
grade     A                B
code     p1    p2    p3   p1    p2    p3
id
c1     40.0  10.0   0.0  NaN   NaN   NaN
c2     40.0  15.0  30.0  NaN  20.0   NaN
c3      NaN   NaN  30.0  0.0   0.0  10.0
****************************************************************************************************
grade      A     B  All
id
c1      50.0   NaN   50
c2      85.0  20.0  105
c3      30.0  10.0   40
All    165.0  30.0  195
****************************************************************************************************
grade    A    B
id
c1     4.0  NaN
c2     3.0  1.0
c3     1.0  3.0