# Date and Time Data handling

In [1]:
import pandas as pd
import datetime as dt


print(dir(dt))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [16]:
print(dt.datetime.now())
print(dt.date.today())
print('*' * 100)
print(dt.date.today().year)
print(dt.date.today().month)
print(dt.date.today().day)

2019-01-23 11:22:40.675875
2019-01-23
****************************************************************************************************
2019
1
23

In [18]:
ex1 = dt.date(2019,1,1)
ex2 = dt.date(2018,1,1)

print(ex1-ex2)

365 days, 0:00:00

## Date and Time data format

In [37]:
now = dt.datetime.now()
print(now)
print('*' * 50)
print(now.strftime("%m/%d/%Y, %H:%M:%S"))
print('*' * 50)
print(now.strftime("%H:%M:%S"))
print(now.strftime("%H : %M : %S"))
print(now.strftime("%H Hour"))
print('*' * 50)
print(now.strftime("%Y-%m-%d"))
print(now.strftime("%Y-%m"))
print(now.strftime("%Y Year %m Month %d Day"))

2019-01-23 13:40:06.229432
**************************************************
01/23/2019, 13:40:06
**************************************************
13:40:06
13 : 40 : 06
13 Hour
**************************************************
2019-01-23
2019-01
2019 Year 01 Month 23 Day

## Generate date range (Day)

In [63]:
date1 = "2018-05-01"
date2 = "2018-06-30"

start = dt.datetime.strptime(date1, "%Y-%m-%d")
end = dt.datetime.strptime(date2, "%Y-%m-%d")

step = dt.timedelta(days=1)
ex1 = []
while start <= end:
    ex1.append(start)
    start += step

pd.DataFrame(ex1, columns=["yyyy_mm_dd"]).head()

  yyyy_mm_dd
0 2018-05-01
1 2018-05-02
2 2018-05-03
3 2018-05-04
4 2018-05-05

## Generate date range (Month) - working...

In [70]:
date3 = "2017-01"
date4 = "2018-12"

start = dt.datetime.strptime(date3, "%Y-%m")
end = dt.datetime.strptime(date4, "%Y-%m")